.navbar-brand {
  font-weight: bold;
  font-size: 1.25rem;
}

.nav-link {
  font-size: 1rem;
  color: white !important;
}

.nav-link:hover {
  color: #ffc107 !important; /* Highlight link on hover */
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  color: white;
}

.bi-person-circle {
  color: white;
}
