/* Preventing scrolling */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents both vertical and horizontal scrolling */
  height: 100%; /* Ensures the body takes full height */
  width: 100%; /* Ensures the body takes full width */
}

.app-container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  background-image: url('https://6qk3aaxmmdd2pmwvycwlbbl3nwmaemyhjfqvhky7zhy5sp7jr4ra.arweave.net/9BWwAuxgx6ey1cCssIV7bZgCMwdJYVOrH8nx2T_pjyI');
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.app-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  background-color: #4CAF50;
  color: white;
  font-size: 1.5em;
  align-items: center;
}

.header-left h1 {
  margin: 0;
}

.header-right button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1.2em;
}

.app-navigation {
  width: 100%;
  margin: 20px 0;
}

.navigation-buttons button {
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ddd;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.1em;
  margin-right: 10px;
}

.navigation-buttons button:hover {
  background-color: #ddd;
}

.app-content {
  width: 80%;
  max-width: 800px;
  margin: 20px 0;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Container for the file list */
.file-list-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 600px; /* Set fixed height for the whole container */
}

/* Header section */
.file-list-header {
  margin-bottom: 10px;
}

/* Scrollable area for file list */
.file-list-scrollable {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 450px; /* Set a maximum height for the scrollable area */
}

/* File grid display */
.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* Pagination container */
.pagination-container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-button,
.page-number {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.page-button:hover,
.page-number:hover {
  background-color: #0056b3;
}

.page-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.page-number {
  font-size: 1em;
  padding: 5px 10px;
}

.page-number.active {
  background-color: #0056b3;
  border-radius: 4px;
}


.file-list-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.file-item {
  background: white;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.file-item:hover {
  transform: translateY(-5px);
}

.file-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 10px;
}

.file-info {
  font-size: 10px;
}

.file-link {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.file-link:hover {
  text-decoration: underline;
}

.file-item p {
  margin: 5px 0;
  color: #666;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  font-size: 1.1em;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

h2 {
  color: #333;
}

.footer-container {
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 1em;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;  /* Ensure footer stays above other content */
}

.footer-container p {
  margin: 5px 0;
}

.footer-container p a {
  color: #ffffff;
  text-decoration: none;
}

.footer-container p a:hover {
  text-decoration: underline;
}